# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
RTCP/Debug/
RTCP/Release/
*.suo
*.csproj.user
*.vbproj.user
ipch
*sdf

.vs/
x64/Debug
x64/Release
RTCP/x64/
